@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #fff1f7;
		--bg-image: url(../images/cover-image-light.png);
		--main-font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
		--font-size-standart: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
		--text-color: #353430;
		--main-font-family: "IBM Plex Mono", "monospace";
		--main-font-size: 18px;
		--accent-color: #ff8dcb;
        --link-color: #353430;
		--title-shadow-color: #FF0070;
		--title-color: #FFC2E6;
		--subtitle-color: #353430;
		--section-text-color: #353430;
		--brand-color: #353430;
		--button-color-hover: rgba(50, 49, 45, 0.4);
        --button-color: #353430;
        --rec-visibility: hidden;
	}
}

.page.theme_light .rec {
    display: none;
  }

.page.theme_light {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --main-font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-size-standart: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --text-color: #353430;
    --main-font-family: "IBM Plex Mono", "monospace";
    --main-font-size: 18px;
    --accent-color: #ff8dcb;
    --link-color: #353430;
    --title-shadow-color: #FF0070;
    --title-color: #FFC2E6;
    --subtitle-color: #353430;
    --section-text-color: #353430;
    --brand-color: #353430;
    --button-color-hover: rgba(50, 49, 45, 0.4);
    --button-color: #353430;
    --rec-visibility: hidden;
}
