.page {
	background-color: var(--bg-color);
	font-family: var(--main-font-family);
	color: var(--text-color);
	font-size: var(--main-font-size);
	background-image: var(--bg-image);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header {
	position: relative;
	display: grid;
	grid-template-rows: 1fr min-content 1fr;
	align-items: center;
	height: 100vh;
	min-height: 668px;
	padding: 10px;
}

.rec {
	position: absolute;
	text-transform: uppercase;
	color: var(--accent-color);
	inset-block-start: 10px;
	inset-inline-end: 20px;
	visibility: var(--rec-visibility);
}

.rec::after {
	content: "";
	display: inline-block;
	margin-inline-start: 10px;
	inline-size: 9px;
	block-size: 9px;
	background-color: var(--accent-color);
	box-shadow: 0 0 4px 2px var(--accent-color);
	border-radius: 50%;
}

.decorated::after,
.decorated::before {
	content: "";
	z-index: -1;
	position: absolute;
	block-size: 25px;
	inline-size: 25px;
}

.decorated::before {
	border-block-start: 1px solid var(--brand-color);
	border-inline-end: 1px solid var(--brand-color);
	inset-block-start: 10px;
	inset-inline-end: 10px;
}

.decorated::after {
	border-block-end: 1px solid var(--brand-color);
	border-inline-start: 1px solid var(--brand-color);
	inset-block-end: 10px;
	inset-inline-start: 10px;
}

.header__theme-menu-list {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 10px;
}

.header__theme-menu {
	block-size: max-content;
}

.header__theme-menu-button {
	background-color: transparent;
	color: var(--button-color);
	border: none;
	line-height: 18px;
	text-transform: lowercase;
	text-align: center;
	padding-inline: 13px;
	padding-block-start: 1.5px;
	padding-block-end: 4px;
	cursor: pointer;
}

.header__theme-menu-button:hover {
	outline: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:focus {
	outline: none;
}

.header__theme-menu-button:focus-visible {
	border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
	pointer-events: none;
	outline: 1px solid var(--button-color);
}

.header__title {
	text-shadow: 4px 4px 0px var(--title-shadow-color);
	color: var(--title-color);
	font-weight: 700;
	font-size: var(--main-font-size-title);
	block-size: max-content;
	line-height: 82.5%;
}

.header__subtitle {
	line-height: 23.4px;
	justify-self: right;
	inline-size: clamp(355px, 48.8%, 491px);
	font-weight: 700;
	block-size: max-content;
	color: var(--subtitle-color);
	background-color: var(--accent-color);
}

.main {
	display: flex;
	flex-direction: column;
	font-size: var(--main-font-size);
	font-family: var(--main-font-family);
	line-height: 23.4px;
	padding-inline-start: 10px;
	padding-inline-end: 10px;
	padding-block-start: 40px;
	margin-block-end: 40px;
	gap: 50px;
}

.text-link {
	text-shadow: 1px 2px 0 var(--accent-color);
	text-decoration: none;
	color: var(--link-color);
}

.text-link:focus {
	outline: none;
}

.text-link:focus-visible {
	outline: 1px solid var(--link-color);
}

.text-link:hover {
	border-block-end: 1px solid var(--link-color);
}

.main__section {
	display: grid;
	gap: 20px;
	line-height: 23.4px;
}

.main__section {
	display: grid;
	gap: 20px;
	line-height: 23.4px;
}

.main__section-title {
	color: var(--brand-color);
	font-size: var(--main-font-size);
	align-self: start;
	line-height: 23.4px;
}

.main__section-block {
	display: grid;
	gap: 10px;
}

.title-decor {
	color: var(--subtitle-color);
	font-size: var(--main-font-size);
	background-color: var(--accent-color);
}

.li__concentartion {
	margin-block-end: 20px;
}

.main__section-header {
	display: grid;
	gap: 20px;
}

.main__section-subtitle {
	background-color: var(--accent-color);
	color: var(--subtitle-color);
	font-weight: 400;
}

.main__section:last-child {
	display: grid;
	grid-template-areas:
		"title title title"
		"sunset sunset sunset"
		"ice-cream ice-cream ice-cream"
		"tape tape tape"
		"books books books"
		"street street street";
	grid-template-rows: auto auto auto auto;
	grid-template-columns: 1fr;
	inline-size: 100%;
	gap: 10px;
}

.image {
	object-fit: cover;
	object-position: center;
	block-size: 100%;
	inline-size: 100%;
}

.main__section:last-child .title-decor {
	grid-area: title;
}

.image__sunset {
	grid-area: sunset;
	display: block;
}

.image__tape {
	grid-area: tape;
	display: block;
}

.image__ice-cream {
	display: block;
	grid-area: ice-cream;
}

.image__books {
	display: block;
	grid-area: books;
}

.image__street {
	display: block;
	grid-area: street;
}


.footer {
	display: grid;
	justify-content: center;
	position: relative;
	block-size: 100vh;
	align-items: center;
	padding: 10px;
	min-block-size: 668px;
}

.footer-title {
	color: var(--title-color);
	font-size: var(--main-font-size-title);
	text-shadow: 2px 2px 0px var(--title-shadow-color);
	line-height: 99px;
}

@media (width >=768px) {
	.header {
		padding-block-start: 20px;
		padding-block-end: 20px;
		padding-inline-end: 20px;
		padding-inline-start: 0;
	}

	.decorated::before {
		inset-block-start: 20px;
		inset-inline-end: 20px;
	}

	.decorated::after {
		inset-block-end: 20px;
		inset-inline-start: 20px;
	}

	.main {
		margin-block-end: 60px;
	}

	.main__semantic-difficult {
		display: grid;
		grid-template-areas:
			"title one one"
			"title one one"
			"title two two"
			"title two two";
		grid-template-columns: 236px 2fr;
		inline-size: 100%;
	}

	.main__section-title-difficult {
		grid-area: title;
	}

	.multitasking {
		grid-area: one;
	}

	.dopamine {
		grid-area: two;
	}

	.rec,
	.rec::after {
		margin-block-start: 9px;
		margin-inline-end: 5px;
	}

	.main {
		padding-inline-start: 20px;
		padding-inline-end: 20px;
		padding-block-start: 60px;
		gap: 80px;
	}

	.main__section-block {
		column-gap: 100px;
	}

	.ul__concentration {
		display: grid;
		grid-template-rows: repeat(3, 1fr);

	}

	.main__section-title-concentration {
		inline-size: 19vw;
	}

	.semantic-gold-fish {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	.main__section:last-child {
		display: grid;
		grid-template-areas:
			"title title title"
			"sunset sunset ice-cream"
			"tape books ice-cream"
			"tape street street";
		grid-template-rows: auto auto auto auto;
		grid-template-columns: 1fr 1fr 1fr;
		inline-size: 100%;
		gap: 20px;
	}

	.image {
		object-fit: cover;
		block-size: 100%;
		inline-size: 100%;
	}


	.image__sunset {
		grid-area: sunset;
	}

	.image__ice-cream {
		grid-area: ice-cream;
	}

	.image__tape {
		grid-area: tape;
	}

	.image__books {
		grid-area: books;
	}

	.image__street {
		grid-area: street;
	}

	.main__section:last-child .title-decor {
		grid-area: title;
	}


}

@media (width >=1024px) {

	.header__theme-menu {
		display: flex;
		justify-self: center;
		align-self: flex-start;
	}

	.header__theme-menu-list {
		padding-inline-start: 2vw;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	.header__title {
		line-height: 129.53px;
		font-size: 157px;
	}

	.header__subtitle {
		padding-inline-end: 0px;
	}

	.main__semantic-difficult {
		grid-template-columns: 314.96px 2fr;
	}

	.main__semantic-concentration {
		grid-template-areas: none;
		grid-template-columns: none;
	}

	.main__section-title-concentration {
		inline-size: 315px;
	}

	.ul__concentration {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		grid-column: 1/3;
		gap: 20px;
	}

	.main__section-block {
		gap: 10px;
	}

	.multitasking-title-concentration {
		margin-block-end: 10px;
	}

	.semantic-concentration__multitasking {
		display: block;
	}

	.food {
		grid-area: secondary__food;
		display: block;
	}

	.title-food {
		margin-block-end: 10px;
	}

	.gadgets {
		grid-area: secondary__gadgets;
	}

	.multitasking-title-concentration,
	.title-food,
	.title-gadgets {
		max-block-size: 23px;
	}

	.semantic-gold-fish {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-column-gap: 10px;
		grid-row-gap: 20px;
	}

	.footer-title {
		line-height: 129.53px;
		font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
	}
}
